.nav i {
  font-size: 60px;
  color: grey;
}

.nav i span {
  width: 26px;
  height: 26px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  right: 1px;
  top: 7px;
  color: #fff;
  font-size: 10px;
}

.carousel-item {
  text-align: center;
}

.clock-face {
  width: 90%;
  height: 270px;
  max-width: 270px;
  border-radius: 50%;
  border: 5px solid #555;
  background: #000;
}

.logo,
.clock {
  font-size: 14px;
  color: #888;
}
