.nav i {
  font-size: 50px;
  color: grey;
}

.carousel-item {
  text-align: center;
}

.clock-face {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  border: 5px solid #333;
}

.logo,
.clock {
  font-size: 10px;
  color: #888;
}
